# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Database & Logs
*.db
*.sqlite
*.sqlite3
*.db-wal
*.db-shm
*.log


# Environments
.env
.env.local

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Distribution / Packaging
build/
dist/
*.spec
*.egg-info/
